*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}
header{
    padding: 15px;
    width: 100%;
    height: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/200/561/non_2x/christmas-background-of-bokeh-lights-and-stars-vector.jpg);
    margin-bottom: 100px;
    box-sizing: content-box;
}
.navbar-brand{
    font-family: 'Merriweather', serif;
}
.carrousel{
    border: solid 1px black;
}
.card{
    margin: 10% 2%;
}
a:hover{
    color: red;
    font-size: 15pt;
}
.publicidad{
    animation-name: tel_pub;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
    height: 70pt;
    width: 100%;
    color: gold;
    text-align: center;
    background-color: silver;
    font-size: 65pt;
}