*{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    
    box-sizing: border-box;    
}
section{
    padding: 5px;
}
header{
    background-color: rgb(250, 219, 216);
    
}
.navbar-brand{
    background-color: rgb(250, 219, 216);
}
}
.bgBody{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQhjR4zCDCQ_Q9K5wmiHjWUyf_0R9r7uRaOw&usqp=CAU);
}
.navbar-brand{
    font-family: 'Merriweather', serif;
}
.card-body{
    background-color: rgb(250, 219, 216);
    text-align: center;
}
.quienesSomos{
    height: 200px;
    width: 100%;
    background-color: rgb(250, 219, 216);
    font-size: 150%;
    display: flex;
    justify-content: center;
}


