<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>P&A Pulseras</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9a8524dee5.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="desctiption" content="P&A Más de 15 años de experiencia vendiendo joyería al precio más bajo y de la mejor calidad. Atención, dedicación y confianza.">
    <meta name="keywords" content="oro, plata, acero, por menor, por mayor, venta, compra, experiencia, joyería, biejou, quirurgico, precio, brajo, calidad, alta, atención, decicación, confianza, entrega, envío">
  </head> 
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">P&A Plata y Acero</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#">Pulseras</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./anillos.html">Anillos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./dijes.html">Dijes</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>  
        <!-- finaliza el encabezado -->
        <!-- navbar -->
        <section class="container-fluid">
          <ul class="row d-flex text-center navegador">
            <li class="col">
              <a href="../index.html" class="navLink" style="text-decoration: none; color: black;">Incio</a>
             </li>
            <li class="col">
              <a href="../views/plata.html" class="navLink" style="text-decoration: none; color: black;">Plata</a>
             </li>
            <li class="col">
              <a href="./oro.html" class="navLink" style="text-decoration: none; color: black;">Oro</a> 
            </li>
            <li class="col">
              <a href="acero.html" class="navLink" style="text-decoration: none; color: black;">Acero</a> 
            </li>
          </ul>
        </section>
        <!-- SECCION CAROUSEL PROMOCIONES -->
        <section class="carouselPromociones">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p class="d-block w-100 bold lead">Más de 20 años vendiendo la mejor calidad!</p>
            </div>
            <div class="carousel-item">
              <p class="d-block w-100 bold lead">El menor precio, la mejor calidad.</p>
            </div>
            <div class="carousel-item">
              <p class="d-block w-100 bold lead">No deje de mirar nuestras Promociones...</p>
            </div>
          </div>
        </div>
        </section>
        <!-- SECCION ANILLOS DE PLATA -->
        <h1 class="titulos pb-2 ">Pulseras de Plata</h1>
        <main class="container-fluid">
            <section class="row d-flex justify-content-center">
                <div class="col-12 productoTipo mb-4">           
                        <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera grume 5mm 19cm 450x450.JPG" alt="">
                        <h3 class="d-flex justify-content-center mb-4">Pulsera Grume</h3>
                         <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$4.000</p>
                    </div>
                        <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera malla 2.5mm 19cm 450x450.JPG" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Malla</h3>
                         <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$4.150</p>
                        </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">           
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera soga 3mm 20cm 450x450.JPG" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Soga 3mm</h3>
                    <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$4.500</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera soga 4mm 20cm 450x450.JPG" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Soga 4mm</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$4.700</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">           
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera sogo 5mm 21cm 450x450.JPG" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Soga 5mm</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$5.000</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera tourbillon 5mm 18cm 450x450.JPG" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Tourbillon</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$4.300</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">           
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera veneciana 1MM 19CM 450x450.JPG" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Veneciana</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$2.430</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/plata/Pulsera clapton 2.5mm 20cm 450x450.JPG" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Clapton</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$2.750</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>

                <!--SECCION ANILLOS DE ACERO  -->
                <h1 class="titulos pb-2 ">Pulseras de Acero</h1>
        <main class="container-fluid">
            <section class="row d-flex justify-content-center">
                <div class="col-12 productoTipo mb-4">           
                        <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera acero bolitas 210x210.jpg" alt="">
                        <h3 class="d-flex justify-content-center mb-4">Pulsera Bolitas</h3>
                         <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.500</p>
                    </div>
                        <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera acero con dijes 210x240.jpg" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera con Dijes</h3>
                         <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.600</p>
                        </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">           
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera acero con flor 225x225.jpg" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Esclava con Flor</h3>
                    <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.750</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera acero identifacion 225x225.jpg" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera Identificación</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.600</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">           
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera acero infinito 225x224.jpg" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Pulsera con Infinito</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.350</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera esclava acero 200x250.jpg" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Esclava</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.250 </p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">           
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera esclava acero 250X250.jpg" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Esclava</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.200</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                <div class="col-12 productoTipo mb-4">
                    <img class="imgProductoTipo  my-4" src="../assets/img/pulseras/acero/pulsera esclava redonda acero 210x240.jpg" alt="">
                    <h3 class="d-flex justify-content-center mb-4">Esclava Redonda</h3>
                     <div class="d-flex justify-content-start precio">
                        <p class="precio mx-auto">Precio:$1.200</p>
                    </div>
                    <a href="#" class="btn btn">COMPRAR</a>
                </div>
                
            </section>
            <hr>
            <footer class="container-fluid">
              <div class="row">
                <h1 class="text-center">Te quedaste con ganas de más!?</h1>
                <h1 class="text-center">Encontranos también en:</h1>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-center">
                <a href="https://api.whatsapp.com/send?phone=541163304006"><i class="fab fa-whatsapp icono"></i></a> 
                <a href="https://www.instagram.com/pya_joyeria/"><i class="fab fa-instagram icono"></i></p></a>
                <a href="http://www.facebook.com/gaston.cordoba.1029/"><i class="fab fa-facebook icono"></i></a>
                <a href="mailto:elcorreoquequieres@correo.com"><i class="fas fa-envelope-open-text icono"></i></a>
                </div> 
                <div class="row">
                  <i class="far fa-copyright d-flex justify-content-end">gcordoba@gmail.com</i>
                </div>   
            </footer>
         
        </main>








      <!--script  -->
    
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>