.heebo{
    font-family: 'Heebo', sans-serif;
}
.imgBody{
    background-image: url(https://image.freepik.com/vector-gratis/bokeh-dorado-confeti-estrellas-doradas-plateadas-brillantes-brillantes_88211-1356.jpg);
}

/* TITULO DE LA PAGINA */
.header{
    grid-area: header;
    display: flex;
    padding: 10pt;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/200/561/non_2x/christmas-background-of-bokeh-lights-and-stars-vector.jpg);
}
/* NAVEGADOR DEBAJO DEL TITULO */
.menu{
    grid-area: menu;
    position: sticky;
    top: 0pt;  
    width: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/200/561/non_2x/christmas-background-of-bokeh-lights-and-stars-vector.jpg);
}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.menu1{
    grid-area: menu1;
    height: 300pt; 
    width: 100%;
    font-size: 200%;
    padding: 100p; 
    background-image: url(https://image.freepik.com/vector-gratis/bokeh-dorado-confeti-estrellas-doradas-plateadas-brillantes-brillantes_88211-1356.jpg);
    background-size: 100%;
    color: gold;
}
.nav1{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    text-align: start;
    
}
a:hover{
    background-color: rgb(252, 213, 198);
    font-size: 15pt;
}
.activo{
    background-color:  rgb(252, 213, 198);
}
.promociones{
    grid-area: promociones;
    height: 600pt; 
    width: 100%;
    margin: 0 20pt 0 20pt;
    background-image: url(https://image.freepik.com/vector-gratis/bokeh-dorado-confeti-estrellas-doradas-plateadas-brillantes-brillantes_88211-1356.jpg);
    color: gold;
    border: gold solid 1pt;
    background-size: 100%;
    justify-content: center;
    text-align: center;

}
/* SECCION MAIN, SECCION E IMAGENES */
.main{
    grid-area: main;
    justify-content: center;
    height: 800pt;
    padding: 30pt;
    border: none;
    background-image: url(https://image.freepik.com/foto-gratis/fondo-plateado-navidad-luces-bokeh_1048-2866.jpg);
    background-size: 150%;
    
}
.seccion{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.img{
    border: solid 1pt black;
    padding: 7pt;
    background-color: white;
    margin: 0pt 20pt 0pt 20pt ;
}
.foot{
    grid-area: foot;
    height: 100pt;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/200/561/non_2x/christmas-background-of-bokeh-lights-and-stars-vector.jpg);

}
.containerGrid{
    display: grid;
    grid-template-areas: 
        "header header header header header header"
        "menu menu menu menu menu menu"
        "menu1 main main main main promociones"
        "foot foot foot foot foot foot";
    grid-gap: 10px;
    grid-template-columns: 300px;
}
div >div{
    border: solid black 2px;
    height: 50px;
}
.tabla{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    background-image: url("https://mdn.mozillademos.org/files/11991/startransparent.gif")   
}
.formulario{
    background-size: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    